@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body{
    background-color: black;
    font-family: 'Press Start 2P';
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
    overflow-x: hidden;;
}

nav{
  background-color: black;
}

#navbar{
    float: right;
}

h1{
  font-size: 10vmin;
}

.nav-link{
    font-size: 12px;
}

.btn{
    color: grey;
    background-color: transparent;
}

.btn:hover{
   color: white; 
}

@media (max-width: 992px){
  
  
  .navbar-brand{
    display: none;
  }
  html {
    overflow-x: hidden;
  }
}

@media (max-width: 1600px){
  .col-md{
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

aside{
    width: 20px;
    background-color: transparent;
}

